<div class="container row" style="margin: 0px;padding: 0px;">
    <mat-card @items class="col-12">

        <mat-card-content>
            <h2>Brief about me:</h2><br>
            Over 13+ years of experience in the field of application support and development, automation in
            banking domain
            <strong>(Investment Banking and Wealth Management).</strong>
            <br><br>
            Befor starting the journey with UBS, starting 2011 till today, i was with Deutshe bank for 4 years.
            <br>
            Currently with UBS i am supporting applications for Front and Middle Office, in process taking care of daily
            Business
            Queries functional or Technical.Resolving any issues under strict SLA.
            My current role in UBS is Trading Floor Technical specialist.
            <br><br>
            I have Experience in Client onboarding within banking/trading environment, for OMS, Market Connectivity and
            Algorithmic systems.
            <br><br>
            Highly motivated professional, enjoy the challenge of complex and demanding assignments. Have excellent
            client facing skills.
            <br><br>
            Love coding using <strong>Angular(a Javascript framework), along with typescript , Html5 and Css3 and Scss.</strong>
            <br><br><br><br>
            <h2>Education:</h2><br>
            Bachelor of Engineering in Information Technology.
            <br><br><br><br>
            <h2>Why did you develop this site?:</h2><br>
            This is my overall window to my digital identity, with it i am trying to make an effort to demonstrate my
            technical knowhow.
            <br><br><strong>Technology used:</strong> Angular, Typescript, Html5 and Scss,
            GSAP(for
            annimation),
            AngularMaterial,
            Bootstrap(style & responsive layout).


        </mat-card-content>
    </mat-card>
</div>

<!-- //  Why did you develop sido.fr ?
// This site is above all the window of my digital identity and my technical and creative skills.
// From my point of view, every web developer must be able to justify his real capacities. In constant evolution, this site is a good example. -->