<div class="container row" style="margin: 0px;padding: 0px;">
    <mat-card class="col-12">

        <mat-card-content>
            Over 12+ years of experience in the field of application support and development, maintenance, automation in
            banking domain
            (Investment Banking and Wealth Management).
            <br><br>
            I was engaged for around 4 years with Deutsche Bank and then
            with UBS, starting 2011 till this day.
            <br>
            With UBS i am supporting applications for Front and Middle Office, in process taking care of daily user
            Business
            Queries and issues under strict SLA. My current role in UBS is Trading Floor Technical specialist, taking
            care of daily business application issues , functional queries, business report.
            <br><br>
            I have Experience in Client onboarding within banking/trading environment, for OMS, Market Connectivity and
            Algorithmic systems.
            <br><br>
            Highly motivated professional, enjoy the challenge of complex and demanding assignments. Have excellent
            client facing skills.
            <br><br>
            Love coding using Angular ,a Javascript framework, along with typescript , Html5 and Css3 and Scss.
            <br>

        </mat-card-content>
    </mat-card>
</div>