._mtype {
    font-weight: bolder;
  }

  .mat-card {
    font-family: 'Montserrat', sans-serif;
  }
  .mat-radio-button {
    font-family: 'Montserrat', sans-serif;
}

.mat-card-image{
  // border: 1px solid red;
  margin-left: .01rem;
  max-width: 50px;
  max-height: 50px;
}

._matRadio{
  // border: 1px solid red;
  margin: 0px;
}